    
<html lang="en">    

<body>  

<body>  
<div class="container">  
  <div class="row  ">  
      <div class="col  ">  
        <nav class="navbar navbar-expand-lg navbar-light bg-primary  text-danger fixed-top font-weight-bold ">  
        <img src="image/download.jfif" class="img-fluid " class="navbar-toggler nav-link"  data-toggle="dropdown" id="navbardrop">  
        <a href="/" class=" d-lg-none  navbar-brand text-light"> Home </a>  
        <a href="/" class="d-none d-lg-block navbar-brand text-light mx-2"> Student </a>          
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">  
        <span class="navbar-toggler-icon"> </span>  
      </button>  
      <div class="collapse navbar-collapse " id="navbarCollapse">  
        
        <ul class="navbar-nav ml-auto" style="">  
          <li class="nav-item ">  
            <a class="nav-link" href="/"> Home </a>  
          </li>  
          <li class="nav-item">  
            <a class="nav-link" href="login"> Login </a>  
          </li>  
          <li class="nav-item">  
            <a class="nav-link" href="register"> Registration </a>  
          </li>  
            
           </ul>  
       </div>  
   </nav>  
</div>  
</div>  
</div>  
</body>  
</html>  