<!DOCTYPE html>
<html lang="en">
    <head>
       {{>headerlink}}
    </head>
    <body class="indbody">
        {{>header}}
        
       <h1 class="m-5" style="color: #000;">I Am a Web Developer And Software Developer.</h1>
    </body>
    </html>